
{% extends "base_.html" %}
{% load static %}
            {% block content %} 
            <header class="section-index">
                {% include "navbar.html" %}
                
                        <div class="row">
            <div class="cd-intro">
            <div class="hero-text-box  cd-intro-content mask-2">
                <div class="content-wrapper">
                    <div>
                    
                
                    <h1>Optimum Diagnostic Sample <br></h1>
                   <p> Optimum Diagnostics Center is a state of the art facility bulit specifically to meet the growing demands of medical diagnostics in kano.
                       We are located at new hospital road opposite Aminu Kano Teaching Hospital Exit gate our doors are always open come one come all.<br> </p>
                   
                   
                    <div class="action-wrapper">
                <a class="btn btn-full js--scroll-to-plans letterbtn" href="#" >Learn More </a>
           
                 <a class="btn btn-ghost btn2 js--scroll-to-start contactbtn" id="contactbtn" href="#">Contact</a>  
                        
                    </div>
                    
            </div>
                </div>
            </div>
                         </div>
                            
            
               
        </header>
               <section class= "section-declare js--section-declare">
            
            
            
            </section>


              <section class="section-best">
            
            <div class="best box">
                <h2 class="js--wp-4">What makes us best?</h2>
                <div class="row">
                    <div class="col span-1-of-7 box js--wp-a1">
                      <h3>  <i class="material-icons icon-small">face</i>
                    Qualified Doctors</h3>
                        <p>
                            We have a team of experienced and qualified doctors. They are all committed to serve you and provide you with best care possible.Call us to know more about our doctors.
                        </p>
                    </div>
                    <div class="col span-1-of-7 box js--wp-a2">
                      <h3>  <i class="material-icons icon-small">library_books</i>
                    Appointments</h3>
                    <p>
                        Appointments are required for consultations. We provide appointments. You may also call our office and in many instances we can schedule your appointment the same day you call.
                        </p>
                    </div>
        
                
                </div>
                
                    <div class="row">
                    <div class="col span-1-of-7 box js--wp-a3">
                       <h3> <i class="material-icons icon-small">card_membership</i>
                    Consultation</h3>
                    <p>
                        Busy schedule and don’t have time to wait for a doctor ?
Traveling somewhere and need urgent medical aid?
                        </p>
                    </div>
                    <div class="col span-1-of-7 box js--wp-a4">
                       <h3> <i class="material-icons icon-small">present_to_all</i>
                    Modern Facilities</h3>
                        <p>Our medical facility is equipped with the latest technology and talent. We are a complete service medical clinic. We have all the modern facilities for your care. We make sure that you would not be disappointed.
                        </p>
                    
                    </div>
        
                
                </div>
            
            
            </div>
        
        
        
        
        
        
        </section>
        
              
        <section class="section-testimonials">
            <div class="row">
                <h2 class="white-heading">Your Health is Our Priority</h2>
            
            </div>
            
            <div class="row">
            <div class="col span-1-of-3">
                <blockquote>
                     Happier & Healthier Nigerians
                    <cite>
<!--                        <img src="{% static 'resources/img/customer-1.jpg' %}" alt="customer 1"> Alberto Duncan-->
                     </cite>
                </blockquote>
             </div>
            
             <div class="col span-1-of-3">
                <blockquote>
                   I have used optimum diagnostics for three months now and I’m particularly impressed by their advancement in tech and medical services. Everything is so seamless and easy!
                    <cite>
<!--                        <img src="{% static 'resources/img/customer-2.jpg' %}" alt="customer 2"> Joana Silva-->
                     </cite>
                </blockquote>
             </div>
            
             <div class="col span-1-of-3">
                <blockquote>
                 I would like to thank you on behalf of my entire family for the help and consideration shown to me in what was a very difficult time. 
                    <cite>
<!--                        <img src="{% static 'resources/img/customer-3.jpg' %}" alt="customer 3"> Milton Chapman-->
                     </cite>
                </blockquote>
             </div>   
                
                
         </div>
     </section>
        
           <section class="section-aboutus">
            <div class="row">
                <h2 class="white-heading about-heading">ABOUT US</h2>
            
            </div>
             
            <div class="row">
            <p class="about1">
                Optimum Diagnostics was established 2017 with the sole idea of giving premium health diagnostics to Nigerians. With our First and Main Building in Kano, Opposite Aminu Kano, we have a very prominent location for the ease of your access. Our vision was designed by our founding team of doctors all Experienced and Professional in their respective fields. We continue to innovate an design better way of diagnostics and delivering medical practice.
                </p>
                <br>
                
         </div>
         
        
</section>
        
<!--                <section class="section-facts">-->
<!--            <div class="row">-->
<!--                <h2 class="white-heading"> Some Fun Facts</h2>-->
<!--                -->
<!--            -->
<!--            </div>-->
<!--            <div class="row js&#45;&#45;wp-1-2">-->
<!--                <p>The following are some interesting facts of our system, We never cease to impress.</p>-->
<!--            -->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col span-1-of-4">-->
<!--                    <div class="count">-->
<!--                        60-->
<!--                    </div>-->
<!--                    <p>Labs</p>-->
<!--                -->
<!--                </div>-->
<!--                 <div class="col span-1-of-4">-->
<!--                    <div class="count">-->
<!--                        200-->
<!--                    </div>-->
<!--                    <p>Doctors</p>-->
<!--                -->
<!--                </div>-->
<!--                <div class="col span-1-of-4">-->
<!--                    <div class="count">-->
<!--                        100-->
<!--                    </div>-->
<!--                    <p>Clinics</p>-->
<!--                -->
<!--                </div>-->
<!--            -->
<!--                <div class="col span-1-of-4">-->
<!--                    <div class="count">-->
<!--                        200-->
<!--                    </div>-->
<!--                    <p>Reviews</p>-->
<!--                -->
<!--                </div>-->
<!--            -->
<!--            </div>-->
<!--            -->
<!--        -->
<!--      -->
<!--        </section>-->
        <!-- ionicons -->
        
    
        
      
       {% endblock %}
        

